div.carousel-inner img {
  opacity: 0.40;
}

.jumbotron {
  margin-top: 55px;
}

img.card-img-top {
  height:300px;
}

.card {
  width: 20rem;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
}